DATABASE_URL="mysql://root:Mcitp@123@localhost:3306/marketplace"
NEXT_PUBLIC_API_BASE_URL="http://192.168.11.205:3002/api"
PORT="3005"

API_BASE="http://192.168.11.205:3002/api"

# Optional basic auth for Elasticsearch
ELASTICSEARCH_USERNAME="elastic"
ELASTICSEARCH_PASSWORD="Mcitp@123"
ELASTICSEARCH_INDEX_USERS="users"
ELASTICSEARCH_INDEX="listings"
ELASTICSEARCH_URL="https://192.168.11.205:9200"
NEXT_PUBLIC_SOCKET_URL="http://192.168.11.205:3002"
ADMIN_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjbWZ0Z3kyNzIwMDAwdHVjNGFnZjV2NHhxIiwicm9sZXMiOlsiQURNSU4iXSwiaWF0IjoxNzU4NTM5MDQ3LCJleHAiOjE3NTkxNDM4NDd9.VbW0j3NYZozOgv2Y-XrupgRFmJA6COs-LGgjO5BQ4Uc"